$spacing: 20px;

.editorView {
  --timer-color: #4effa1;
  height: calc(100vh - 10px);
  position: relative;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;

  .editor {
    overscroll-behavior: none;
  }

  &Nametag {
    position: absolute;
    bottom: $spacing;
    left: $spacing;
    z-index: 4;
    padding: 20px;
    font-size: 40px;
    color: #fff;
    background: rgba(58, 147, 100, 0.75);

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &Controls {
    position: absolute;
    right: $spacing;
    bottom: $spacing;
    z-index: 1;
  }

  &Reference {
    margin-bottom: 12px;
    font-size: 12px;
    color: white;
    text-align: right;
    cursor: pointer;
    box-sizing: border-box;

    &Image {
      width: 200px;
      height: 160px;
      margin-top: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &Button {
    display: block;
    margin-left: auto;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.referenceImage {
  max-width: 100%;
  max-height: 100%;
}

.powerModeOuter {
  --timer-color: #0df;
  :global(.button),
  :global(.counter) {
    background-color: rgba(0, 221, 255, 0.75);
  }

  :global(.streak) {
    h2,
    li {
      color: #0df;
    }
  }

  .editorViewNametag {
    background: rgba(0, 221, 255, 0.75);
  }
}

.ultraModeOuter {
  --timer-color: #f80;
  :global(.button),
  :global(.counter) {
    background-color: rgba(255, 136, 0, 0.75);
    animation: ultra-vibrate 0.12s ease-in-out infinite;
  }

  :global(.streak) {
    animation: ultra-vibrate 0.12s ease-in-out infinite;
    h2,
    li {
      color: #f80;
    }
  }

  .editorViewNametag {
    background: rgba(255, 136, 0, 0.75);
    animation: ultra-vibrate 0.12s ease-in-out infinite;
  }

  .editorViewReference {
    animation: ultra-vibrate 0.12s ease-in-out infinite;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  opacity: 0.3;
  background-image: url(/codeinthedark.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.backgroundPowerMode {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  opacity: 0.3;
  background-image: url(/powermode.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  animation: background-power 2s infinite both;
}

@keyframes leaves {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.86);
  }
}

@keyframes button-vibrate {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(1px, 1px);
  }
  75% {
    transform: translate(1px, -1px);
  }
}

@keyframes ultra-vibrate {
  0%,
  100% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-2px, 0);
  }
  40% {
    transform: translate(2px, 1px);
  }
  60% {
    transform: translate(-1px, -2px);
  }
  80% {
    transform: translate(1px, 2px);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 2px, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, -1px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 2px, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, -2px, 0);
  }
}

@keyframes background-power {
  0% {
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
}

.backgroundUltraMode {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  opacity: 0.3;
  background-image: url(/ultramode.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  animation: background-ultra 1.5s infinite both;
}

@keyframes background-ultra {
  0% {
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale(1.6);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
  }
}
